main {
  width: 840px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 0 50px 0;
}

h2 {
  margin: 80px 0 0;
  padding: 0 0 0 5px;
  z-index: 99;
  color: #fff;
}

main section {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  position: relative;
}

main section h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

main section h4 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

main section ul {
  margin: 10px 0 50px 0;
  padding: 0;
}

main section ul li {
  list-style: none;
  display: block;
}

main section ul li a {
  display: block;
  padding: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: normal;
  border-bottom: 1px solid #333;
  text-align: right;
}

main section ul li a:hover {
  background-color: #333;
}

main section > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(60, 0, 200);
  padding: 5px 10px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
}


@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
}

form#searchForm {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  margin: 10px 0;
  padding: 0 10px;
}

form#searchForm input#searchField {
  background: #333341;
  color: #fff;
  height: 35px;
  width: 94%;
  padding: 5px 10px;
  border-radius: 11px;
}
