#modal {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s linear;
}

#modal form {
  color: #1d3557;

  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.666);
  padding: 40px;
  box-shadow: 0 0 2px inset rgba(256,256,256,0.3);
  width: 400px;
}

#modal form label {
  font-weight: 600;
}

#modal form input{
  display: block;
  width: 100%;
  margin: 10px 0;
  outline: none;
}

#modal form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#modal form div input {
  display: inline-block;
  margin-right: 10px;
}

#modal form div a {
  cursor: pointer;
}

#modal form div a.remove{
  color: #882c2c;
}

#modal form div a.remove:hover{
  color: #8f1f1f;
}

#modal form .controles{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
}
