@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Nunito", Arial, sans-serif;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2C5288;
  color: #ccc;
  height: 100%;
}


form label {
  font-size: 0.8rem;
  display: block;
  margin: 0 0 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 10px 5px;
  font-size: 0.8rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 2px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  background-color: rgba(256, 256, 256, 1);
}

button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #2C5288;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border-radius: 4px;
  transition-duration: 200ms;
}

button:hover {
  background-color: #203c63;
  color: #fff;
}

button.link {
  background-color: transparent;
  color: #2396d8;
  text-decoration: underline;
}

button.link:hover {
  color: #203c63;
}

a {
  background-color: transparent;
  color: #2C5288;
  text-decoration: underline;
  display: inline-block;
  transition-duration: 200ms;

}

a:hover {
  color: #203c63;
}
